.notificationWrapper {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  gap: 6px;
}

.notificationWrapper h3 {
  width: fit-content;
}

.successNotification {
  min-width: 100px;
  padding: 2px 12px;
  border-width: 3px;
  border-radius: 8px;
  color: var(--dark-green);
}

.closeButton {
  padding: 0 0 0 3px;
  color: inherit;
  background-color: inherit;
  border: none;
}
