:root {
  --yellow: #fefacc;
  --pale-green: #f0fada;
  --light-green: #c8daa6;
  --green: #82a94f;
  --dark-green: #455b28;
  --pale-pink: rgb(253, 247, 247);
  --pink: #fbdee9;
  --dark-pink: #e980a8;
}

body {
  min-height: 100vh;
  background: repeating-linear-gradient(
    45deg,
    var(--light-green),
    var(--light-green) 50px,
    var(--pale-green) 50px,
    var(--pale-green) 100px
  );
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  display: block;
  border-radius: 5px;
  border: 2px solid var(--green);
}

input:active,
input:focus {
  outline: var(--dark-pink);
  border-color: var(--dark-pink);
}