:root {
  --yellow: #fefacc;
  --pale-green: #f0fada;
  --light-green: #c8daa6;
  --green: #82a94f;
  --dark-green: #455b28;
  --pink: #fbdee9;
  --dark-pink: #e980a8;
  font-size: 16px;
}

body {
  min-height: 100vh;
  background: repeating-linear-gradient(
    45deg,
    var(--light-green),
    var(--light-green) 50px,
    var(--pale-green) 50px,
    var(--pale-green) 100px
  );
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}
