:root {
  --yellow: #fefacc;
  --green: #82a94f;
  --dark-green: #526b31;
  --pink: #fbdee9;
  --dark-pink: #e980a8;
  font-size: 16px;
}

body {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  padding: 0;
  list-style-type: none;
}
