/* wrappers */
.horizontalWrapper {
  display: flex;
  gap: 1rem;
  text-align: center;
}

/* Card styles */
.card {
  background-color: var(--yellow);
  border: 2px solid var(--green);
  border-radius: 16px;
}
