/* margins */
.marginTopSmall {
  margin-top: 16px;
}

.marginTopMedium {
  margin-top: 32px;
}

/* titles */
.title {
  color: var(--dark-green);
  font-size: 1.8rem;
  padding: 2px 32px;
}

/* wrappers */
.horizontalWrapper {
  display: flex;
  gap: 1rem;
  text-align: center;
}

/* Card styles */
.card {
  background-color: var(--yellow);
  border: 2px solid var(--green);
  border-radius: 16px;
}

/* Button styles */
.button {
  font-weight: bold;
  padding: 2px 12px;
  border-radius: 8px;
  transition: background-color 0.25s ease-out;
}

.primaryButton {
  composes: button;
  background-color: var(--pink);
  color: var(--dark-pink);
  border: 2px solid var(--dark-pink);
}

.primaryButton:hover {
  background-color: var(--dark-pink);
  color: var(--pink);
}
