/* margins */
.marginTopMed {
  margin-top: 32px;
}

/* wrappers */
.horizontalWrapper {
  display: flex;
  gap: 1rem;
  text-align: center;
}

/* Card styles */
.card {
  background-color: var(--yellow);
  border: 2px solid var(--green);
  border-radius: 16px;
}

/* Button styles */
.primaryButton {
  font-weight: bold;
  padding: 2px 12px;
  background-color: var(--pink);
  color: var(--dark-pink);
  border: 2px solid var(--dark-pink);
  border-radius: 8px;
}

.primaryButton:hover {
  background-color: var(--dark-pink);
  color: var(--pink);
}
