.tutorial {
  color: var(--dark-green);
  text-align: center;
}

.gameLink {
  min-height: 200px;
  max-width: 450px;
}

.gameLink h3 {
  color: var(--dark-pink);
  margin-top: 3px;
}

.gameLink button {
  margin-top: 5px;
}

.gameLinkContent {
  display: block;
  padding: 8px 8px 10px 8px;
}

/* Mobile */
@media screen and (max-width: 700px) {
  .gameWrapper {
    flex-direction: column;
  }
}