.timedNotification {
  min-width: 100px;
  padding: 2px 12px;
  border-width: 3px;
  border-radius: 8px;
  color: var(--dark-green);
}

.closeButton {
  padding: 0 0 0 3px;
  color: inherit;
  background-color: inherit;
  border: none;
}
