.gameWrapper {
  margin-left: 24px;
  margin-right: 24px;
}

.gameContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 6px 8px 10px 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-width: 5px;
}
