.wrapper {
  margin-left: 24px;
  margin-right: 24px;
}

.gameContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 6px 8px 10px 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-width: 5px;
}

.targetSection {
  width: 100%;
  padding: 12px 6px 6px 6px;
  border: 5px solid var(--dark-pink);
  border-top: none;
  border-bottom-left-radius : 16px;
  border-bottom-right-radius : 16px;
  background: repeating-linear-gradient(
    45deg,
    var(--pink),
    var(--pink) 25px,
    var(--pale-pink) 25px,
    var(--pale-pink) 50px
  );
}

.target {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 150px;
  color: var(--dark-green);
}

.targetImage {
  width: 90px;
  margin-bottom: 6px;
  border: 3px solid var(--green);
  border-radius: 50%;
}

.foundImage {
  border: 3px solid var(--dark-pink);
}

.foundTitle {
  color: var(--dark-pink);
}