.gameContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 6px 8px 10px 8px;
}

.imageWrapper {
  position: relative;
}

.targetSection {
  width: 100%;
  padding: 6px;
  margin-top: 10px;
  border: 3px solid var(--dark-pink);
  border-radius: 16px;
  background: repeating-linear-gradient(
    45deg,
    var(--pink),
    var(--pink) 25px,
    var(--pale-pink) 25px,
    var(--pale-pink) 50px
  );
}

.target {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 150px;
  color: var(--dark-green);
}

.targetImage {
  width: 90px;
  margin-bottom: 6px;
  border: 3px solid var(--green);
  border-radius: 50%;
}
