.notification {
  position: absolute;
  top: 24px;
  width: fit-content;
  min-width: 100px;
  padding: 2px 24px;
  margin-inline: auto;

  text-align: center;
  border-width: 3px; 
}

.successNotification {
  color: var(--dark-green);
}

/* animation */
.fadeInfadeOut {
  animation: fade-in-fade-out 1.5s ease-out;
}

@keyframes fade-in-fade-out {
  from {
    opacity: 0;
  }
  15% {
    opacity: 100;
  }
  85% {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}
