.menuWrapper {
  --target-radius: 60px;
  display: none;
  position: absolute;
  z-index: 2;
}

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  gap: 6px;
  transform: translate(-50%, calc(var(--target-radius) / -2));
}

.targetBox {
  height: var(--target-radius);
  width: var(--target-radius);
  border: 5px dashed var(--dark-pink);
  border-radius: 50%;
}

.optionWrapper {
  border: 2px solid var(--dark-pink);
  width: 200px;
}

.menuOption {
  display: block;
  width: 100%;
  border-width: 2px;
  border-radius: 0;
  text-align: left;
}
