.menu {
  --target-radius: 60px;
  display: none;
  position: absolute;
}

.targetBox {
  position: absolute;
  top: calc(var(--target-radius)/-2);
  left: calc(var(--target-radius)/-2);
  height: var(--target-radius);
  width: var(--target-radius);
  border: 3px dashed black;
  border-radius: 50%;
  background-color: rgb(86, 83, 83, 0.3);
}

.optionWrapper {
  position: absolute;
  top: calc(var(--target-radius) / -2);
  left: calc(var(--target-radius) / 2);
  border: 2px solid gray;
}

.menuOption {
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  white-space: nowrap;
  text-align: left;
}

.menuOption:hover {
  background-color: lightgray;
}