.gamesTitle {
  color: var(--dark-green);
}

.gameLink {
  min-height: 200px;
  width: 300px;
}

.gameLink h3 {
  color: var(--dark-pink);
  font-size: 1.35rem;
  margin-top: 3px;
}

.gameLink button {
  margin-top: 5px;
}

.gameLinkContent {
  display: block;
  padding: 8px 8px 10px 8px;
}
