.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 12px;
  background-color: var(--yellow);

  border-top: 2px solid var(--green);
  border-bottom: 3px solid var(--green);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.title {
  font-size: 1.5rem;
}

.headerButton {
  color: var(--dark-green);
  background-color: inherit;
  border: none;
}

.headerButton:hover {
  background-color: var(--light-green);
}